.photo-container {
    display: flex;
    flex-wrap: wrap;
    
  }

img{
    max-height: 20rem;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin: auto;
    padding: 45px;
}
.photo-container > div {

    height: auto;
    margin: 10px;

  }

.galleryList{
  padding-top: 40px;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}
.galleryList li{
  list-style-type:none;
}
.galleryList a{
  font-size: 1.3rem;
  padding: 1rem;
}
